@import url("chrome://global/skin/global.css");
@import url("chrome://global/skin/inContentUI.css");
@import url("chrome://mozapps/skin/extensions/extensions.css");

.template-area { display: none; }

#storm-preferences {
    padding: 2em;
}

#view-port-container {
    padding: 20px;
}

#view-port-container tab {
    padding: 5px 10px;
}

.key-list > richlistitem {
    border-bottom: 1px solid #CCC;
    padding: 0;
}

.key-list > richlistitem > * > * {
    padding: 5px;
}

.key-list > richlistitem[selected] {
    color: inherit;
}

.key-list .key-details {
/*    background: -moz-Dialog; */
    border-top: 1px dotted #CCC;
    padding: 5px;
}

.bold,
.key-list .realname {
    font-weight: bold;
}

.key-list .comment {
}

.key-list .key-id {
    color: #777;
}

.key-list > .key .show-when-open { visibility: collapse; }
.key-list > .key[selected] .show-when-open { visibility: visible; }
.key-list > .key[selected] .show-when-closed { visibility: collapse; }

.key-list .key image {
    transform: scale(0.6);
}

toolbarbutton > .toolbarbutton-text {
    display: inline-block;
    padding-top: 2px;
}

.key-list > .key.trusted   { background: #F9F9F9; }
.key-list > .key.invalid   { background: #FBB; }
.key-list > .key.untrusted { background: #EEE; }
.key-list > .key.trusted   .show-when-open.key-details {background: #FFF; }
.key-list > .key.untrusted .show-when-open.key-details {background: #FAFAFA; }
.key-list > .key.invalid   .show-when-open.key-details {background: #FDD; }

.key-list .key .key-info {
    list-style-image: url("chrome://storm/skin/icons/32/key.png");
    width: 16px;
    height: 16px;
    transform: scale(1.3);
}

.key-list .key .show-when-untrusted, .key-list .key .show-when-trusted, .key-list .key .show-when-invalid { visibility: collapse; }
.key-list .key.untrusted .show-when-untrusted { visibility: visible; }
.key-list .key.trusted .show-when-trusted { visibility: visible; }
.key-list .key.invalid .show-when-invalid { visibility: visible; }

.key-list .key.trusted .key-info {
    list-style-image: url("chrome://storm/skin/icons/32/key_accept.png");
}

.key-list .key.untrusted .key-info {
    list-style-image: url("chrome://storm/skin/icons/32/key_error.png");
}

.key-list .key.invalid .key-info {
    list-style-image: url("chrome://storm/skin/icons/32/key_deny.png");
}

.settings-page {
    max-width: 40em;
}

.section {
    font-weight: bold;
    margin-top: 1em;
}
