@import url("chrome://global/skin/global.css");
@import url("chrome://global/skin/inContentUI.css");
@import url("chrome://mozapps/skin/extensions/extensions.css");

.template-area { display: none; }

#storm-preferences {
    padding: 2em;
}

#view-port-container {
    padding: 20px;
}

#view-port-container tab {
    padding: 5px 10px;
}

.key-list > richlistitem {
    border-bottom: 1px solid #CCC;
    background: #F9F9F9;
    padding: 0;
}

.key-list > richlistitem > * > * {
    padding: 5px;
}

.key-list > richlistitem[selected] {
    background: #FFF;
    color: inherit;
}

.key-list .key-details {
/*    background: -moz-Dialog; */
    border-top: 1px dotted #CCC;
    padding: 5px;
}

.bold,
.key-list .realname {
    font-weight: bold;
}

.key-list .comment {
}

.key-list .key-id {
    color: #777;
}

.key-list > richlistitem .show-when-open { display: none; }
.key-list > richlistitem[selected] .show-when-open { display: block; }
.key-list > richlistitem[selected] .show-when-closed { display: none; }

.key-list > richlistitem image {
    transform: scale(0.6);
}

toolbarbutton > .toolbarbutton-text {
    display: inline-block;
    padding-top: 2px;
}

.key-list > richlistitem.invalid {
    background-color: #FBB;
}

.key-list > richlistitem.untrusted {
    background-color: #EEE;
}
